/.bundle
/log/*.log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/uploads
.env
/.env.*.local
/.env.development*
/.env.test*
/.env.production*
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
.yarn-integrity
/storage/*
.DS_Store
.AppleDouble
.LSOverride
*.swp
*~
*.swo
.idea/
.vscode/
app/assets/images/
